#logo {

	height: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

nav {
	font-family: Dolce Vita;
	font-size: 14px;
	text-align: center;
	border-bottom: solid .5px #FD7475;
	margin-left: 200px;
	margin-right: 200px;
	border-top: solid .5px #FD7475;
	padding: 10px;
}
a {
	padding: 20px;
}

h1 {
	font-family: Dolce Vita;
	font-size: 20px;
	text-align: center;
}

p {
	font-family: Futura;
	font-size: 12px;
	text-align: center;
	margin-right: auto;
	display: block;
}

#photo {
	width: 40px;
	height: 40px;
	margin-top:100px;
	display:inline-block;
}

footer {
	padding: 2px;
	margin-left: 550px;
	margin-right: 200px;
	margin-top: 5px;
}
section img:hover{
	 -webkit-transform: scale(1.5);
	 -moz-transform: scale(1.5);
	 -o-transform: scale(1.5);
	 -ms-transform: scale(1.5);
	 transform: scale(1.5);
	 cursor: pointer;
 
	 -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	 -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	 box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}