#logo {

	height: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

nav {
	font-family: Dolce Vita;
	font-size: 14px;
	text-align: center;
	border-bottom: solid .5px #FD7475;
	margin-left: 200px;
	margin-right: 200px;
	border-top: solid .5px #FD7475;
	padding: 10px;
}

a {
	padding: 20px;
}
p {
	font-family: Dolce Vita;
	font-size: 18px;
	text-align: center;
	list-style-type: none;
	padding: 10px;
	display: inline-block;
	margin-left: 165px;
}
h1 {
	font-family: Dolce Vita;
	font-size: 20px;
	text-align: center;
}
img {
	height: 110px;
	width: 160px;
	
}

ul{
	list-style-type: none;
	margin-left: 180px;
	margin-right: 160px;
	border: solid white;
	min-width: 300px;
	max-width: 1000px;

}

ul li {
	text-align: center;
	width: 29%;
	display: inline-block;
	/*margin-left: 20px;
	margin-right: 20px;*/
}

	
h2 {
	font-family: Futura;
	font-weight: 100px;
	text-align:center;
	width: 32%;
	display: block;
}

a:hover {
	color: green;
}

a {
	color: #FD4575;
	text-decoration: none;

}
